RewriteEngine On

# if host includes 'gagesalzano.com'
RewriteCond %{HTTP_HOST} ^(.*)gagesalzano.com$
RewriteRule ^(.*)$ https://studioapt.co%{REQUEST_URI} [L,R=301]

# if host includes 'studioapartment.co'
RewriteCond %{HTTP_HOST} ^(.*)studioapartment.co$
RewriteRule ^(.*)$ https://studioapt.co%{REQUEST_URI} [L,R=301]

# if host includes 'studioapt.co'
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^(.*)studioapt.co$
RewriteRule ^(.*)$ https://studioapt.co%{REQUEST_URI} [L,R=301]