<footer class='site-footer small-text'>
	{% if site.social_media_links %}
	<div class='icon__wrap'>
		{%	for i in site.social_media_links %}
				<a class='{{ i.class }}' href='{{ i.href }}' target='_blank'>{{ i.svg }}</a>
		{% endfor %}
	</div>
	{% endif %}

	<blockquote class='quote-wrap'>
		{% if site.quotes %}
			{% for quote in site.quotes %}
				<p class='quote__quote d-none'>{{quote.quote}}</p>
				<cite class='quote__source__wrap d-none'> — <a class='text-decoration-none link-border-bottom-hover quote__source__link'
				{% if quote.href %}
					href='{{quote.href}}' target='_blank'
				{% else %}
					href='#'
				{% endif %} >{{quote.source}}</a></cite>
			{% endfor %}
		{% endif %}
	</blockquote>

	{% if site.byline %}
		{% for i in site.byline %}
		<span>{{ i }}</span>
		{% endfor %}
	{% endif %}
</footer>