// Things that can be used in other projects

.border-none {
  border: none !important;
}

.d-block {
  display: block !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.d-none {
  display: none !important;
}

.d-flex {
  display: flex !important;
}

.text-decoration-none {
  text-decoration: none !important;
}