// Sass things, like mixins and variables. Should be imported before everything except _common.scss

$post-nav-color: rgb(84, 81, 77);
$copy-color--dark: rgb(154,152,148);

$black: #24292e;
$background-color: hsl(183, 99%, 34%);
$copy-color: rgba(255, 255, 255, 0.9);

@mixin min480 {
  @media (min-width: 480px) { @content }
}
