@keyframes bounceIn {
  0% {
    opacity: 0; }
  80% {
    top: -.5%;
    opacity: 1; }
  100% {
    opacity: 1;
    top: 0; } }
body {
  background-color: #363129;
  color: #fffaec;
  font-family: 'Inconsolata', Consolas, monaco, monospace;
  font-size: 17px;
  line-height: 24px;
  overflow-x: hidden;
  text-align: center;
  width: 100%; }
  body *::selection {
    background: #36e1c8; }
  body *::-moz-selection {
    background: #36e1c8; }

main {
  height: 100%;
  overflow-x: hidden; }

a {
  color: #fffaec; }
  a:visited {
    color: #fffaec; }
  a:hover {
    color: #9a9894; }

a.go-home {
  color: #9a9894;
  display: block;
  margin: 24px 0 72px 0;
  text-decoration: none; }
  a.go-home:visited {
    color: #9a9894; }
    a.go-home:visited svg {
      color: #9a9894; }
  a.go-home:hover, a.go-home:focus {
    color: #fffaec;
    text-decoration: underline; }
    a.go-home:hover svg, a.go-home:focus svg {
      fill: #fffaec; }
  a.go-home svg {
    fill: #9a9894; }

article {
  margin-top: 56px; }
  article img {
    margin-bottom: -4px; }

.bold {
  font-weight: bold; }

.error-404-wrap {
  height: 100%; }
  .error-404-wrap img {
    max-width: 100%;
    margin-top: 80px; }

.error-404-wrap,
.home-wrap {
  padding-bottom: 20px;
  transform: translateY(-140px); }

figure {
  margin: 0;
  width: 100%; }

footer {
  font-family: 'Lato', sans-serif;
  margin-top: 48px; }
  footer a {
    color: #9a9894; }
    footer a:visited, footer a:hover, footer a:focus {
      color: #9a9894; }
  footer h4, footer .small-text {
    color: #9a9894;
    font-weight: normal; }

figcaption {
  max-width: 28rem;
  margin: 0 auto;
  opacity: .6;
  padding: 13px 0; }

figcaption a {
  color: #fffaec;
  font-weight: bold; }
  figcaption a:visited {
    color: #fffaec; }
  figcaption a:hover, figcaption a:focus {
    color: #fffaec; }

.tooltip figcaption {
  color: #fff; }
  .tooltip figcaption a {
    color: #fff;
    font-weight: bold; }
    .tooltip figcaption a:visited {
      color: #fff; }
    .tooltip figcaption a:hover, .tooltip figcaption a:focus {
      color: #fff; }

.small-text {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.005em; }

h5 {
  color: #54514d;
  font-size: 9px;
  line-height: 14px; }

header {
  display: flex;
  justify-content: space-between;
  padding: 5rem 0 48px 0;
  white-space: nowrap; }
  header h4, header p {
    color: #fffaec;
    margin: 0;
    max-width: none; }
  header p {
    padding: 0; }
  header .id__subtitle {
    font-weight: normal; }
  header .id {
    margin: 0 auto;
    text-align: left; }
  header .id h4 {
    padding-left: 58px; }
  header .id .avatar {
    border-radius: 3px;
    float: left;
    height: 90px;
    opacity: .8;
    width: 90px; }

.id__title, .id__subtitle {
  display: none; }

header {
  transform: scale(0.34) translateY(250px);
  min-height: 320px; }

.goldfish {
  position: absolute;
  left: 50%;
  transform: translateX(-37%); }

.fish-overlay {
  background-color: rgba(54, 49, 41, 0);
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0; }

.link--border-bottom {
  color: #fffaec;
  text-decoration: none;
  border-bottom: 1px solid #9a9894; }
  .link--border-bottom:visited {
    color: #fffaec; }
  .link--border-bottom:hover, .link--border-bottom:focus {
    color: #9a9894; }

.link-button__container {
  font-size: .8em;
  opacity: 0;
  overflow: hidden;
  height: 100%;
  padding: 0 20px;
  position: absolute;
  top: 0;
  width: calc(100% - 40px);
  display: flex;
  justify-content: space-around;
  align-items: center; }

.link-button {
  cursor: pointer;
  line-height: 1.6em;
  position: relative;
  top: 10%;
  opacity: 0;
  background-color: #646464;
  color: #e6e6e6;
  padding: 0 .4em;
  border-radius: 2px;
  border-bottom: 2px solid #505050;
  border-left: 2px solid #505050;
  box-shadow: 0 0 10px 5px rgba(50, 50, 50, 0.1); }

.link-button--pressed {
  border: none;
  margin-bottom: 2px;
  margin-left: 2px;
  left: -2px;
  bottom: -2px; }

.link-button-2 {
  cursor: pointer;
  background-color: #646464;
  display: inline-block;
  border-radius: 2px;
  border-bottom: 2px solid #505050;
  border-left: 2px solid #505050;
  line-height: 1.6em;
  padding: .4em;
  position: relative;
  text-decoration: none; }
  .link-button-2:visited, .link-button-2:hover, .link-button-2:focus {
    color: #e6e6e6; }

.link-button-2--pressed {
  border: none;
  margin-bottom: 2px;
  margin-left: 2px;
  left: -2px;
  bottom: -2px; }

.quote-wrap {
  max-width: 22rem;
  margin: 0 auto;
  color: #9a9894;
  white-space: normal; }

.quote__quote {
  display: none; }

.quote__source__wrap {
  display: none;
  white-space: nowrap; }

.quote__source__link {
  color: #9a9894;
  text-decoration: none;
  border-bottom: 1px solid #9a9894; }
  .quote__source__link:visited {
    color: #9a9894; }
  .quote__source__link:hover, .quote__source__link:focus {
    border-bottom: 1px solid #fffaec;
    color: #fffaec; }

p {
  max-width: 28rem;
  margin: 0 auto;
  opacity: .9;
  padding: 24px 0; }

.emoji {
  width: 1.2rem; }

.grid {
  margin: 72px auto;
  min-height: 23.5vw;
  position: relative; }

.grid__item {
  border-radius: 1.5px;
  color: #fffaec;
  display: block;
  width: 100%;
  position: relative;
  will-change: transform;
  transform: perspective(400px) rotateX(0deg) rotateY(0deg);
  perspective: 400px;
  transform-style: preserve-3d; }
  @media all and (min-width: 479.9px) {
    .grid__item {
      height: 100%; } }
  .grid__item a:visited, .grid__item a:hover, .grid__item a:focus {
    color: #fffaec; }
  .grid__item h4 {
    font-weight: normal;
    line-height: 1.5rem;
    margin: 9px 13px;
    position: absolute;
    text-align: left;
    text-decoration: none;
    z-index: 99999;
    left: 0;
    top: 0; }
  .grid__item img {
    position: relative;
    display: block;
    min-width: 101%;
    transition: all 250ms;
    -webkit-transition: all 250ms; }

.grid__item__wrap {
  box-sizing: border-box;
  float: left;
  padding: 5px; }

.grid__item__backdrop {
  background-color: #fffaec;
  opacity: .04;
  position: absolute;
  height: 100%;
  width: 100%;
  transform: translateZ(-300px) scale(2.5); }

.grid__item__item {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .grid__item__item h4 {
    color: #fffaec; }

.js-tilt-glare {
  transform: translateZ(100px) scale(0.5); }

.hire-status a {
  color: #54514d;
  text-decoration: none;
  font-weight: normal; }
  .hire-status a:visited {
    color: #54514d; }
  .hire-status a:hover {
    color: #54514d;
    text-decoration: underline; }
.hire-status .dot, .hire-status h4 {
  display: inline-block; }
.hire-status .dot {
  background-color: #7ed321;
  border-radius: 10px;
  margin: 8px 8px 8px -8px;
  height: 8px;
  width: 8px;
  vertical-align: middle; }

.icon__wrap {
  margin: 30px 0; }

.icon {
  margin: 0 4px; }
  .icon svg {
    vertical-align: middle; }

.icon.mail:hover path {
  fill: #9a9894; }

.icon.github:hover path {
  fill: #24292e; }

.icon.instagram:hover path {
  fill: #EF4859; }

#loading {
  background-color: #fff;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000000; }

.platos-search {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0; }

.platos-search__fake-menu {
  width: 100%; }

.platos-search__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(80, 81, 81, 0.7);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute; }

.platos-search__play-btn {
  background-color: #ededed;
  border: 2px solid #ededed;
  font: inherit;
  color: #2b2b2b;
  cursor: pointer;
  outline: none; }
  .platos-search__play-btn:hover, .platos-search__play-btn:focus {
    border-top: 2px solid #d8d8d8;
    border-left: 2px solid #d8d8d8;
    border-bottom: 2px solid #9e9999;
    border-right: 2px solid #9e9999; }
  .platos-search__play-btn:active {
    border-top: 2px solid #9e9999;
    border-left: 2px solid #9e9999;
    border-bottom: 2px solid #d8d8d8;
    border-right: 2px solid #d8d8d8; }

.platos-search__wrapper {
  overflow: hidden;
  position: relative;
  height: 0;
  margin: 0 auto;
  max-width: 550px;
  padding-bottom: 370px; }
  @media all and (max-width: 550px) {
    .platos-search__wrapper {
      padding-bottom: 67.3%;
      width: 100%; } }

.post-nav {
  background-color: #54514d;
  display: flex;
  height: 50px;
  padding: 3px 0;
  position: fixed;
  top: 0;
  white-space: nowrap;
  width: 100%;
  z-index: 1500; }
  .post-nav * {
    display: inline-block; }
  .post-nav a {
    height: 50px;
    line-height: 50px;
    text-decoration: none; }
  .post-nav h4 {
    font-size: 13px;
    margin: 0; }
  .post-nav svg {
    fill: #fffaec; }
  .post-nav .page-title {
    padding-right: 70px;
    line-height: 50px;
    flex: 1; }
  .post-nav .prev, .post-nav .next {
    border-left: 1px solid #676060;
    min-width: 50px;
    width: 50px; }
    .post-nav .prev svg, .post-nav .next svg {
      height: 9.8px;
      width: 9.8px; }
  .post-nav .page-title {
    overflow: hidden;
    text-overflow: ellipsis; }
  .post-nav .post-nav__home {
    box-sizing: border-box;
    padding: 0 21px; }
    .post-nav .post-nav__home h4 {
      color: #fffaec;
      margin-left: 6.7px;
      visibility: hidden; }
    .post-nav .post-nav__home:hover h4 {
      visibility: visible; }
    .post-nav .post-nav__home svg {
      height: 20.4px;
      position: relative;
      top: 3px;
      width: 19px; }

@media all and (min-width: 479.9px) {
  .slide__content > div, .slide__content > figure {
    padding: 24px 0; }
  .slide__content > .link-button-2 {
    margin: 24px 0; } }

.slide:focus {
  outline: none; }

@media all and (max-width: 479.9px) {
  .home-wrap,
  .error-404-wrap {
    padding: 0 20px 20px; }

  .desktop {
    display: none !important; }

  article {
    background-color: black; }
    article img {
      width: 100vw; }
    article p {
      margin: 0 auto;
      padding-left: 20px;
      padding-right: 20px; }

  .copyright {
    margin-bottom: 3.5rem; }
    .copyright .mobile {
      opacity: .25; }

  figcaption {
    font-size: 13px;
    line-height: 18px;
    color: #fff; }
    figcaption:not(.bg) {
      opacity: .5; }

  figure img {
    transform: translateX(-11px); }

  .full-height--centered-y {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 100%;
    height: auto; }

  .full-height--centered-x {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: auto;
    height: 100%; }

  .full-height__container {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }

  html {
    height: 100%; }

  .id {
    margin: 0 auto; }

  .grid__item {
    margin-bottom: 20px;
    width: 100%; }
    .grid__item img {
      width: 100%; }

  .post-nav .page-title {
    padding-right: 0px;
    margin: 0 9px;
    text-align: left; }
  .post-nav .post-nav__home {
    width: 50px; }

  .slick-dots {
    bottom: 15px;
    margin: 0 auto;
    opacity: .5;
    padding: 12.5px 0;
    position: absolute;
    text-align: center;
    line-height: 5px;
    list-style: none;
    width: 100%; }
    .slick-dots li {
      cursor: pointer;
      display: inline-block;
      margin-left: 10px; }
      .slick-dots li button {
        background: transparent;
        border: 2px solid white;
        border-radius: 20px;
        height: 7px;
        outline: none;
        overflow: hidden;
        padding: 0;
        color: transparent;
        width: 7px; }
        .slick-dots li button:hover, .slick-dots li button:focus {
          outline: none; }
      .slick-dots li:first-of-type {
        margin-left: 0; }
    .slick-dots .slick-active button {
      background-color: white; }

  .slick-dots--dark li button {
    border-color: #54514d; }
  .slick-dots--dark .slick-active button {
    background-color: #54514d; }

  .slide {
    background-color: black;
    color: white;
    font-size: 20px;
    line-height: 26px;
    height: 100%;
    width: 100%; }
    .slide a,
    .slide figcaption a,
    .slide figcaption a:visited {
      color: white; }
    .slide .slide__content {
      display: flex;
      align-items: center;
      flex-flow: column;
      justify-content: center;
      box-sizing: border-box;
      overflow: hidden;
      padding: 17.5px 11px 35px;
      position: relative;
      height: 100%;
      width: 100%; }
      .slide .slide__content img {
        margin-bottom: 13px; }
      .slide .slide__content .bg, .slide .slide__content .bg-dark {
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 55px 20px;
        max-width: 100%;
        width: 100%; }
      .slide .slide__content .bg {
        background: -webkit-linear-gradient(transparent, rgba(1, 0, 0, 0) 10%, rgba(2, 0, 0, 0.5));
        background: linear-gradient(transparent, rgba(1, 0, 0, 0) 10%, rgba(2, 0, 0, 0.5)); }
      .slide .slide__content .bg-dark {
        color: #54514d;
        opacity: 1; }
        .slide .slide__content .bg-dark a, .slide .slide__content .bg-dark a:visited {
          color: #54514d; }
      .slide .slide__content:focus {
        outline: none; }

  .tooltip {
    display: none; } }
@media all and (min-width: 480px) {
  html {
    height: 100%;
    overflow: auto; }

  body {
    overflow: hidden; }

  .mobile {
    display: none; }

  .about span {
    color: #fffaec;
    cursor: pointer;
    text-decoration: underline; }
    .about span:hover {
      color: #9a9894; }

  figcaption {
    font-size: 14px;
    line-height: 22px; }

  .grid {
    min-height: 23.5vw;
    width: 95.76vw; }
    .grid::after {
      content: " ";
      display: block;
      height: 0;
      clear: both; }

  header {
    margin: 0 auto;
    width: calc(94vw - 6px); }

  .quote {
    display: none; }

  .tooltip {
    box-shadow: 0px 0px 25px 0px rgba(77, 69, 69, 0.25);
    box-sizing: border-box;
    max-width: 600px;
    position: absolute;
    left: -9999px;
    z-index: 9999999; }
    .tooltip h4 {
      font-weight: normal; }
    .tooltip img {
      margin-bottom: -9px;
      max-width: 600px; }

  .tooltip-img a,
  .tooltip-img-box--bottom a,
  .tooltip-img-box--right a {
    border-bottom: 1px solid white;
    color: white;
    text-decoration: none; }
    .tooltip-img a:visited,
    .tooltip-img-box--bottom a:visited,
    .tooltip-img-box--right a:visited {
      color: white; }
    .tooltip-img a:hover,
    .tooltip-img-box--bottom a:hover,
    .tooltip-img-box--right a:hover {
      color: white; }

  .tooltip-img figcaption {
    bottom: 1rem;
    color: white;
    position: absolute;
    width: 100%; }

  .tooltip-img-box--bottom {
    color: white;
    text-align: left; }
    .tooltip-img-box--bottom figcaption {
      padding: .8rem; }

  .tooltip-img-box--right {
    color: white;
    text-align: left;
    white-space: nowrap; }
    .tooltip-img-box--right img, .tooltip-img-box--right figcaption {
      display: inline-block; }
    .tooltip-img-box--right figcaption {
      box-sizing: border-box;
      max-width: 280px;
      padding: 1.6rem;
      height: 100%;
      white-space: normal;
      vertical-align: top; }
    .tooltip-img-box--right img {
      align-self: center;
      max-width: 320px; }

  .tooltip-text {
    background-color: #f2fcea;
    padding: 1rem 1.5rem 1rem 1rem;
    text-align: left; }
    .tooltip-text * {
      color: #54514d;
      margin: 0; }
    .tooltip-text ul {
      list-style: none;
      padding: 0; }

  article img {
    margin: 0 auto -4px auto; }
  article img, article .row:not(.full-width) {
    width: 28rem; }
  article .column > div,
  article .row > div:not(.column) {
    padding: 3px; }
  article .column img,
  article .row img {
    border: none; }
  article .column img {
    margin-bottom: -3px; }
  article .column {
    height: 100%;
    display: flex;
    flex: column; }
    article .column div {
      height: 0; }
  article .full-width {
    border-bottom: none;
    border-top: none;
    width: 100%; }
  article .row {
    margin: 0 auto;
    white-space: nowrap;
    width: 100%; }
    article .row img {
      width: auto; }
  article .row > div {
    display: inline-block; }
    article .row > div:first-child {
      padding-left: 0; }
    article .row > div:last-child {
      padding-right: 0; }
  article .slide:first-child p:first-child {
    padding-top: 72px; } }
@media all and (min-width: 480px) and (max-width: 799.9px) {
  .grid {
    width: 94vw; }
    .grid img {
      margin: 0 !important;
      height: auto !important; }
      .grid img:not(.stretchfix) {
        width: 100% !important; }
      .grid img.stretchfix {
        width: 140% !important; }

  .grid__item__wrap {
    position: relative; } }
@media all and (min-width: 800px) {
  article .row.full-width {
    width: 100%; }

  .grid__item h4 {
    visibility: hidden; }
  .grid__item:hover h4, .grid__item:focus h4 {
    visibility: visible; } }

/*# sourceMappingURL=style.css.map */
