---
layout: default
---

<div id='loading'><!-- <img src='{{ '/assets/images/loading.gif' | prepend: site.url }}' height='120' width='120'/> --></div>
<script src='{{ '/assets/scripts/spin.min.js' | prepend: site.url }}'></script>
	<script>
		var opts = {
	  lines: 7 // The number of lines to draw
	, length: 0 // The length of each line
	, width: 8 // The line thickness
	, radius: 25 // The radius of the inner circle
	, scale: 0.5 // Scales overall size of the spinner
	, corners: 1 // Corner roundness (0..1)
	, color: '#4d4545' // #rgb or #rrggbb or array of colors
	, opacity: 0.1 // Opacity of the lines
	, rotate: 21 // The rotation offset
	, direction: 1 // 1: clockwise, -1: counterclockwise
	, speed: 0.6 // Rounds per second
	, trail: 56 // Afterglow percentage
	, fps: 20 // Frames per second when using setTimeout() as a fallback for CSS
	, zIndex: 2e9 // The z-index (defaults to 2000000000)
	, className: 'spinner' // The CSS class to assign to the spinner
	, top: '50%' // Top position relative to parent
	, left: '50%' // Left position relative to parent
	, shadow: false // Whether to render a shadow
	, hwaccel: false // Whether to use hardware acceleration
	, position: 'absolute' // Element positioning
	}
	var target = document.getElementById('loading')
	var spinner = new Spinner(opts).spin(target);
</script>
<div class='home-wrap'>
	<header>
		{{ site.id.avatar }}
		<div class='id small-text'>
			<h4 class='desktop id__title'><b>{{ site.id.title }}</b></h4>
			<h4 class='desktop id__subtitle'>{{ site.id.subtitle }}</h4>
		</div>
	</header>

	<div class='about'>
		<p>Hi, my name is Jared Salzano. I'm a Web Developer living in Brooklyn, with a creative drive to turn powerful ideas into living websites and applications. I do freelance work, but currently open to part-time opportunities as well. See my resume <a href='https://jaredsalzano.com/resume.html' target='_blank'>here</a>.</p>

		<p>Here are some projects I've worked on.</p>
	</div>

	<div class='grid'>
	{% if site.posts %}
		{% for post in site.posts %}
			{% if post.stack_color %}
				{% assign bg_color = post.stack_color %}
			{% else %}
				{% assign bg_color = 'rgb(209, 209, 209)' %}
			{% endif %}
			{% if post.title != 'about' %}
		<a href='{{ post.url | prepend: site.url }}' class='no-masonry grid__item'>
			<div class='grid__item__backdrop'></div>
			<div class='grid__item__item'>
				<h4
					{% if post.dark_title %}
						style='color: rgb(54, 49, 41)'
					{% endif %}
				>{{ post.title | escape }}</h4>
				{% if post.featured_image %}
				<img alt='Project thumbnail' src='{{ post.featured_image | prepend: site.url }}'
					{% if post.style %}
						style='{{ post.style }}'
					{% endif %}
				/>
					{% else %}
				<img src='{{ '/assets/images/posts/default.png' | prepend: site.url }}'/>
				{% endif %}
			</div>
			<!-- <div class='link-button__container'>
			  <a class='link-button'>Visit site</a>
			  <a class='link-button'>Read about</a>
			</div> -->
		</a>
			{% endif %}
		{% endfor %}
	{% endif %}
	</div>

	<!-- <div class='about'>
		<p>Want to build something together? Just <a href='mailto:jaredsalzano@gmail.com' target='_top'>email me</a>.</p>
	</div> -->
	{% include footer.html %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/89/three.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/16.3.5/Tween.min.js"></script>
	<script src="{{ '/assets/scripts/fish/Fish.js' | prepend: site.url }}"></script>
	<script src="{{ '/assets/scripts/fish/main.js' | prepend: site.url }}"></script>
</div>
